html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#map {
  height: 80%;
}

#list {
  color: #0033ff;
  height: 20%;
  width: 100%;
}

.leaflet-zoom-animated .leaflet-clickable {
  transition: transform 1s;
}